@model IEnumerable<EFE18Demo4.AspNetCore.ExistingDbMigration.Models.Haandvaerker>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ansaettelsedato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Efternavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fagomraade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornavn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ansaettelsedato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Efternavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fagomraade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornavn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HaandvaerkerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HaandvaerkerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HaandvaerkerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
