@model IEnumerable<EFE18Demo4.AspNetCore.ExistingDbMigration.Models.Vaerktoejskasse>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vtkanskaffet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vtkfabrikat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vtkmodel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vtkserienummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vtkfarve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Haandvaerker)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vtkanskaffet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vtkfabrikat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vtkmodel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vtkserienummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vtkfarve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Haandvaerker.Efternavn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VkasseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VkasseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VkasseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
