@model EFGetStarted.AspNetCore.ExistingDb.Models.Værktøj

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Værktøj</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anskaffet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anskaffet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fabrikat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fabrikat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Serienr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Serienr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LiggerIvtkNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LiggerIvtkNavigation.VkasseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VærktøjsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
