@model IEnumerable<EFGetStarted.AspNetCore.ExistingDbMigration.Models.Vaerktoej>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VTAnskaffet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VTFabrikat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VTModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VTSerienr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VTType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiggerIvtkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VTAnskaffet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VTFabrikat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VTModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VTSerienr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VTType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiggerIvtkNavigation.VTKId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VTId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VTId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VTId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
