@model IEnumerable<EFGetStarted.AspNetCore.ExistingDb.Models1.Vaerktoejskasse>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anskaffet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fabrikat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serienummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EjesAfNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Anskaffet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabrikat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serienummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Farve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EjesAfNavigation.Efternavn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VkasseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VkasseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VkasseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
